<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div id="full-page">
<div class="main-page-header">
    <div class="header">
        <div class="second-header">
            <div class="brand-name-header">
                <div class="brand-name-text">Company</div>
                <div class="brand-name-subtext">A hostel brand</div>
            </div>
           
        </div>
        <div class="second-header">
            <div class="navigation-tabs">
                <a (click)="changeStatus('home')">My Account</a>
                
            </div>
           </div> 
        <div class="second-header">
            <div class="navigation-tabs">
                <a (click)="changeStatus('home')">Home</a>
                
            </div>
           </div> 
        <div class="second-header">
            <div class="navigation-tabs">
                <a>About us</a>
                
            </div>
        </div>
        <div class="second-header">
            <div class="navigation-tabs">
                <a>FAQ</a>
                
            </div>
        </div>
        <div class="second-header">
            <div class="navigation-tabs">
                <a>Contact</a>
                
            </div>
        </div>
        
        <div class="second-header">
                <div class="search-div-01">
                
                <form class="form-inline my-2 my-lg-0">
                    <input type="search" (ngModelChange)="SearchBox(key.value)" #key="ngModel" 
                    ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search...." required>
                 </form>
                
                    <nav class="nav-drop">
                      <i aria-hidden="true"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                          </svg></i>
                        <ul class="dropdowns">
                            <li>
                                <a href="" ></a>
                            </li>
                            <li>
                                <a href="" >Sign-Out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
        </div>

    </div>
</div>




<div class="page-header">
    <div class="header-div">
        <div class="header-text">
        <h1>Amaan Ali</h1>
        <p>MANAGER| Renao Residency</p>
        </div>
    </div>
</div>


  

<div class="page-container">
    <div *ngIf="!activeTenant && !activeEmployee && !activeOthers" class="button-links">
        <div class="tenant-link">
            <a (click)="changeStatus('tenant')">
                <img src="assets/images/tenant-icon.png" alt="Tenant Icon Image" class="rounded-icon-image">
            </a>
            <label>TENANTS</label>
        </div>
        <div class="tenant-link">
            <a (click)="changeStatus('employee')">
                <img src="assets/images/team-info-icon.png" alt="Tenant Icon Image" class="rounded-icon-image">
            </a>
            <label>TEAM-INFO</label>
        </div>
        <div class="tenant-link">
            <a (click)="changeStatus('Others')">
                <img src="assets/images/materials-icon.png" alt="Tenant Icon Image" class="rounded-icon-image">
            </a>
            <label>MATERIALS</label>
        </div>
    </div>
</div>


<div class="page-container">
    <div *ngIf="!activeTenant && !activeEmployee && !activeOthers" class="button-links">
        
        <div class="tenant-link">
            <a (click)="changeStatus('Others')">
                <img src="assets/images/electricity.png" alt="Tenant Icon Image" class="rounded-icon-image">
            </a>
            <label>Electricity</label>
        </div>
        <div class="tenant-link">
            <a (click)="changeStatus('Others')">
                <img src="assets/images/camera.png" alt="Tenant Icon Image" class="rounded-icon-image">
            </a>
            <label>Camera</label>
        </div>
    </div>
</div>
<!-- open if user click on tenant -->
<div *ngIf="activeTenant">
    <tenant-root></tenant-root>
</div>
<!-- open if user click on team info -->
<div *ngIf="activeEmployee">
    <Employee-root></Employee-root>
</div>
<!-- if user click on any main option other than above -->
<div *ngIf="activeOthers">
    <div class="Others-container">
        <h2>Create Database for this using all required attributes</h2><br>
        <h3>You can implement it the same way i implemented the first two </h3><br>
        <h4>Click on the Home to get back to home Screen</h4>
    </div>
</div>


<!-- FOOTER -->

<div class="bg-light-gradient footer">
    <div class="footer-top">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-4">
                    <div >
                        <h5 class="text-white h6 mb-4" style="font: 1em sans-serif;">Connect with us:</h5>
                    </div>
                    <div class="nav footer-socila-icon">
                        <a href="https://www.linkedin.com/">
                            <img src="assets/images/linkedin-icon.png" alt="Tenant Icon Image" target="_blank" class="square-icon-image">    
                        </a>
                        <a href="https://www.instagram.com/">
                            <img src="assets/images/insta-icon.png" alt="Tenant Icon Image" target="_blank" class="square-icon-image">    
                        </a>
                        <a href="https://m.youtube.com/">
                            <img src="assets/images/youtube-icon.png" alt="Tenant Icon Image" target="_blank" class="square-icon-image">    
                        </a>
                        <a href="https://m.facebook.com/">
                            <img src="assets/images/facebook-icon.png" alt="Tenant Icon Image" target="_blank" class="square-icon-image">    
                        </a>
                    </div>
                </div>
                
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Company</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="home">Career</a>
                        </li>
                        <li>
                            <a href="home">Legal &amp; Security</a>
                        </li>
                        <li>
                            <a href="home">Terms of use</a>
                        </li>
                    </ul>
                </div>


                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Get In Touch</h5>
                    
                    <ul class="list-unstyled white-link footer-links">
                        <h4 class="text-white h6 mb-4">Head-Office:
                        <li>
                            <a href="home">Address</a>
                        </li></h4>
                        <h4 class="text-white h6 mb-4">Email:
                        <li>
                            <a href="home">infogmail.com</a>
                        </li></h4>
                        <h4 class="text-white h6 mb-4">Call us:
                        <li>
                            <a href="home">00000000</a>
                        </li>
                        </h4>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Location:</h5>
                    <div class="mapimg">
                    <a href="home" style="cursor: pointer;">
                        
                            <img src="assets/images/map.png" style="margin:10%; height:70%; width: 200%;" class="square-icon-image"></a>
                        </div>
                 </div>
                <hr>
                <div class="text-white" style="display: flex; justify-content: flex-end;">©2024 All rights reserved</div>
            </div>
        </div>
    </div>
</div>
  </div>